.date {
  font-style: italic;
  color: $gray;
}
br_10 {
  display: block;
  margin: 10px 0;
}

/* image align left */

.img-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  @include breakpoint($small) {
    float: left;
    margin-right: 1em;
  }
}

/* image align right */

.img-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  @include breakpoint($small) {
    float: right;
    margin-left: 1em;
  }
}

/* image align center */

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
.note-normal {
  padding-left: 1em;
  border-left: 6px solid #61590d;
  margin-top: 1em;
  margin-bottom: 1em;

  top4 {
    margin-top: 0;
    margin-bottom: 0.25em;
    line-height: inherit;
  }

  ul {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
  }
  
  li{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.note-exercise {
  padding-left: 1em;
  border-left: 6px solid #0b81a5;
  margin-top: 1em;
  margin-bottom: 1em;

  top4 {
    margin-top: 0;
    margin-bottom: 0.25em;
    line-height: inherit;
  }

  ul {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
  }
  
  li{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.note-example {
  padding-left: 1em;
  border-left: 6px solid #55a54a;
  margin-top: 1em;
  margin-bottom: 1em;

  top4 {
    margin-top: 0;
    margin-bottom: 0.25em;
    line-height: inherit;
  }

  ul {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
  }
  
  li{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.note-warning {
  padding-left: 1em;
  border-left: 6px solid #a50b0b;
  margin-top: 1em;
  margin-bottom: 1em;

  top4 {
    margin-top: 0;
    margin-bottom: 0.25em;
    line-height: inherit;
  }

  ul {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
  }
  
  li{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}